<%- include("header") -%>

    <h2>This is the about page</h2>
    <p>dsadsladlsad ksjdlkjsLD LKSJDLKSJDLKW LKASDLKFA sdfljdnfljedhf saldjfaljfwle lslfdeakjfnalej aljfljandfljaen lsjdnaljdflafe;iafsadf af wefdlje lejf lej fljelfelflejf</p>

<%- include("footer") -%>
